section.products {
  padding: 70px 0;
}

section.products .container {
  text-align: center;
}

section.products .container h2 {
  margin: 20px 0;
  font-size: 28px;
  text-align: left;
}

section.products .container .product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px 30px;
}

section.products .container .product-item {
  position: relative;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

section.products .container .product-item img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  margin: auto;
}

section.products .container .product-item .product-info .title {
  height: 63px;
  margin-top: 20px;
  font-weight: 700;
}

section.products .container .product-item p.price {
  background-color: black;
  color: white;
  padding: 15px 25px;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 2;
  font-size: 24px;
  font-weight: 500;
}

section.products .container .product-item .product-footer button {
  font-weight: bold;
  background-color: blaCK;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {
  section.products .container .product-item img {
    width: 150px;
    height: 150px;
  }
  section.products .container .product-item .product-info .title {
    height: 70px;
  }
}

@media (max-width: 350px) {
  section.products .container .product-item img {
    width: 150px;
    height: 150px;
  }
  section.products .container .product-item p.price {
    padding: 10px 15px;
    top: 10px;
    font-size: 20px;
  }
}
